$white: #d9e8fc;
$dark-blue: #022859;
$blue-sky: #0476d9;
$blue-sky_2: #40a4fc;
$blue-light: #a2bdf2;
$orange: #f25c05;
$font-family: 'Roboto', sans-serif;
$box-shadow-blue-dark: rgba(2, 40, 89, 0.3);

//* dimensions
$header-height: 56px;
