.app-container {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  min-height: calc(100vh - 56px);
  height: auto;
}

@media screen and (min-width: 600px) {
  .main-container {
    width: 85%;
  }
}
